<body>
  <div class="keyvisual">
    <p class="keyvisual__title">Night-Habitとは</p>
    <p class="keyvisual__desc">夜の就寝前のルーティーンを習慣付けるサービスです。</p>
    <a href="#!" class="keyvisual__scrollBtn"></a>
    <div class="section__btnWrapper detail__btn">
      <a><%= link_to "サービス詳細", introductions_path, class: "section__btn" %></a>
    </div>
  </div>
</body>