<div class="contents">
  <div class="keyvisual__title keymessage__edit">
    <h3>マイページ</h3>
  </div>
  <ul class="section__btnWrapper mypage__list">
    <li>
      <%= link_to '個人情報変更', edit_user_path(current_user), class: "section__btn" %>
    </li>
    <li>
      <%= link_to 'マイスケジュール', schedules_path, class: "section__btn" %>
    </li>
  </ul>
</div>