<div class="contents">
  <div class="keyvisual__title keymessage__edit">
    <h3>個人情報の変更が完了いたしました。</h3>
    <div class="section__btnWrapper">
      <%= link_to 'トップへ', root_path, class: "section__btn" %>
    </div>
  </div>
</div>