<div class="contents">
  <div class="keyvisual__title keymessage__edit">
    <h3>スケジュールの作成が完了しました。</h3>
    <div class="section__btnWrapper">
      <%= link_to 'スケジュール一覧へ', schedules_path, class: "section__btn" %>
    </div>
  </div>
</div>