<div class="contents">
  <%= link_to "作成する", new_schedule_path, class: "post" %>
  <% @schedules.each do |schedule| %>
    <%= render partial: "schedule", locals: { schedule: schedule } %>
  <% end %>
</div>