<div class="contents">
  <p><%= @schedule.text %></p>
  <ul class="more_list">
    <li>
      <%= link_to '編集', edit_schedule_path(schedule.id) %>
    </li>
    <li>
      <%= link_to '削除', schedule_path(schedule.id), method: :delete, data: {confirm: "削除しますか？"} %>
    </li>
  </ul>
</div>