<div class="top__contents">
  <div class="keyvisual">
    <h1 class="keyvisual__title service-purpuse">このサービスの目的</h1>
    <p class="keyvisual__desc">このアプリは、夜のルーティーンを習慣化することを目的としています。</p>
    
    <h2 class="how_to_use">このサービスの使い方</h2>
    <div class="keyvisual__desc">一番最初にすることは、毎晩のルーディーンを決めることです。例えば、本を読む、お風呂に入る、作業をする。
    自ぶうが毎晩やりたいと思うものを選びましょう。<br>そして、毎晩To-Doリストを書いていただきます。
    これを行いことによって、睡眠の質が上がります。</div>
    <h3 class="habit_merit">習慣化のメリット</h3>
    <div class="keyvisual__desc">
      人間は新しいことをするとすぐ辞めてしまい、定着することが難しい傾向にあります。人生の大半は毎日の習慣によって決まると言っても過言ではありません。
      <br>そのため、より良い習慣を手に入れるために、第一歩として夜の良い習慣を手に入れませんか？そして皆様には夜のルーディーンを決めて頂き、
      <br>その一つとして就寝前にTo Doリストを作っていただきます。
    </div>
    <h3 class="To_Do_list">就寝前にTo Doリストを作成する理由</h3>
    <div class="keyvisual__desc">
      まず、To Doリストとはやるべき作業を書き出すことです。そして、就寝前にTo Doリストを作成すると、睡眠の質が上がるという研究があります。<br>これは将来に対する不安などを書き出すことで、頭の中で反芻していたものが抑えられ、睡眠の質も上がるからです。
    </div>
    <div class="section_new_btn">
      <div class="section__btnWrapper adjustment">
        <%= link_to '就寝前のルーティーンとTo Doリストを作成する', new_schedule_path, class: "section__btn" %>
      </div>
    </div>
  </div>
</div>